<!--List Book-->
<div class="row">
    <div class="card">
        <h1 class="card-header">Title: <%= title %></h1>
        <div class="card-body">
            <div class="mt-4">
                <h5>Author: <a href="<%= book.author.url %>"><%= book.author.name %></a></h5>
            </div>
            <div class="mt-4">
                <h5>Summary</h5>
                <p><%= book.summary %></p>
            </div>
            <div class="mt-4">
                <h5>ISBN: <span class="card-text"><%= book.isbn %></span></h5>
            </div>
            <div class="mt-4">
                <h5>Genre:
                    <% book.genre.forEach(g => { %>
                        <a href="<%= g.url %>"><%= g.name %></a>,
                        <% })%>
                </h5>
            </div>
            <div class="mt-4 mx-3">
                <h5>Copies:</h5>
                    <% if(bookinstances.length > 0) { %>
                        <% bookinstances.forEach(instance => { %>
                            <ul class="list-group list-group-flush">
                                <%
                                    const colorType = {
                                        Available: 'success',
                                        Maintenance: 'warning',
                                        Loaned: 'danger',
                                        Reserved: 'danger'
                                    }
                                %>
                                <li class="list-group-item">
                                    <div class="text-<%= colorType[instance.status] %>"><%= instance.status %></div>
                                    <div><b>Imprint: </b><%= instance.imprint %></div>
                                    <div><b>Id: </b><a href="<%= instance.url %>"><%= instance._id %></a></div>
                                    <% if(instance.status !== 'Available') { %>
                                        <div><b>Due back: </b><%= instance.due_back_formatted %></div>
                                    <% } %>
                                </li>
                            </ul>
                        <% }); %>
                    <% }else { %>
                        <p>There are no copies of this book in the library.</p>
                    <% } %>
            </div>
        </div>
      </div>

</div>
<!-- End List Book -->