<!-- Genre delete -->
<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Delete Genre: <%= genre.name %></h1>
            <a class="btn btn-primary" href="<%= genre.url %>/update">Update genre</a>
          </div>
        <div class="card-body">
            <% if(books.length > 0) { %>
                <b class="text-danger">Delete the following books before attempting to delete this genre.</b>
                <% } %>
            <div class="mx-3 list-group list-group-flush">
                <% if(books.length > 0) { %>
                    <h4>List books</h4>
                    <% books.forEach(book => { %>
                        <a href="<%= book.url %>" class="list-group-item list-group-item-action">
                            <h6 class="text-primary"><%= book.title %></h6>
                            <p><%= book.summary %></p>
                        </a>
                    <% }); %>
                <% }else { %>
                    <b>Do you really want to delete this Genre ?</b>
                    <form action="" method="post">
                    <input type="hidden" name="genreId" value="<%= genre._id %>" />
                    <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>

</div>
<!-- End Genre delete -->