<!--Delete Book instance-->
<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Delete book instance ID: <%= bookinstance._id %></h1>
            <a class="btn btn-primary" href="<%= bookinstance.url %>/update">Update book instance</a>
          </div>
        
        <div class="card-body">
            <b class="text-danger">Do you really want to delete this Book Instance?</b>
            <form action="" method="post">
              <input type="hidden" name="bookInstanceId" value="<%= bookinstance._id %>" />
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            <%
                const colorType = {
                    Available: 'success',
                    Maintenance: 'warning',
                    Loaned: 'danger',
                    Reserved: 'danger'
                }
            %>
            <div class="mt-4">
                <b>Title: </b><a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a>
            </div>
            <div class="mt-4">
                <b>Imprint: </b><%= bookinstance.imprint %>
            </div>
            <div class="mt-4">
                <b>Status: </b>
                <span class="text-<%= colorType[bookinstance.status] %>"><%= bookinstance.status %></span>
            </div>
            <% if(bookinstance.status !== 'Available') { %>
                <div class="mt-4"><b>Due back: </b><%= bookinstance.due_back_formatted %></div>
            <% } %>
        </div>
    </div>
</div>
<!-- End Delete Book instance -->